<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122792638809-olgvuo6g50p7qgvcviv43h43mgt4scdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122792638809-olgvuo6g50p7qgvcviv43h43mgt4scdm</string>
	<key>API_KEY</key>
	<string>AIzaSyB_thvcYLj3OUMERoKtnSQ1RDZc80B3IxI</string>
	<key>GCM_SENDER_ID</key>
	<string>122792638809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.COBSCCOMP201P-011.NIBM-Parking</string>
	<key>PROJECT_ID</key>
	<string>nibm-parking-c6d30</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-parking-c6d30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122792638809:ios:bb85e444a38221cc98b448</string>
	<key>DATABASE_URL</key>
	<string>https://nibm-parking-c6d30-default-rtdb.firebaseio.com</string>
</dict>
</plist>